<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>程序员客栈</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">

</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="jumbotron">
    <h1>出错了</h1>
    <p th:text="${message}">出错了</p>
    <p><a class="btn btn-primary btn-lg" role="button" href="/">回到主页</a></p>
</div>
<div th:insert="~{foot :: foot}"></div>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js" type="application/javascript"></script>

</body>
</html>